#root {
  --gray-default: #4D5562;
  --white-default: #F9FAFB;
  --gray-light: #D2D5DA;
  --gray-2: #394150;
  --black-default: #040711;
  --blue-default: #263FA9;
  --blue-light: #7CA9F3;
  --gray-3: #121826CC;
  --gray-4: #212936CC;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif
}

main {
  background-image: url("./assets/hero_img-sm.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  height: calc(100vh - 100px);
  padding-top: 100px;
}

.logo {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.translator {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 8px;
}

.translator__source-language-button,
.translator__target-language-button,
.translator__source-textarea,
.translator__target-textarea {
  font-size: 1rem;
  font-weight: bold;
}


.translator__source,
.translator__target {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 800px;
  height: 300px;
  background-color: var(--gray-4);
  border: 1px solid var(--gray-default);
  border-radius: 20px;
  padding: 24px;
}

.translator__source-textarea,
.translator__target-textarea {
  outline: none;
}


.translator__source-language,
.translator__target-language,
.translator__target-language-left {
  display: flex;
}

.translator__source-language,
.translator__target-language {
  align-items: center;
  padding: 8px;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--gray-default);
}

.translator__source-language,
.translator__target-language-left {
  justify-content: flex-start;
  gap: 8px;
}

.translator__target-language {
  justify-content: space-between;
}

.translator__source-language-button,
.translator__target-language-button {
  background-color: transparent;
  border: none;
  border-radius: 12px;
  padding: 10px 12px;
  color: var(--white-default);
  cursor: pointer;

  &:hover,
  &:focus-visible {
    background-color: var(--gray-2);
  }

  &.active {
    background-color: var(--gray-default);
  }
}

.translator__source-textarea,
.translator__target-textarea {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  color: var(--white-default);
  resize: none;
  padding-top: 16px;
  font-weight: bold;
}

.translator__source-options,
.translator__target-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
}

.translator__source-options-left,
.translator__target-options-left,
.translator__target-language-right {
  display: flex;
  gap: 8px;

  button {
    background-color: transparent;
    border: 2px solid var(--gray-default);
    border-radius: 12px;
    padding: 6px;
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover,
    &:focus-visible {
      background-color: var(--gray-3);
    }

    &:disabled {
      &,
      &:hover,
      &:focus-visible {
        background-color: var(--gray-2);
        cursor: not-allowed;
      }
    }
  }

}

.translator__source-options-translate{
  button {
    font-size: 1rem;
    font-weight: bold;
    background-color: var(--blue-default);
    border: 1px solid var(--gray-light);
    border-radius: 12px;
    padding: 14px 26px;
    color: var(--white-default);
    cursor: pointer;

    display: flex;
    align-items: center;
    gap: 8px;

    &:hover,
    &:focus-visible {
      background-color: var(--blue-light);
    }

    &:disabled {
      &,
      &:hover,
      &:focus-visible {
        background-color: var(--gray-default);
        border-color: var(--gray-default);
        cursor: not-allowed;
      }
    }
  }
}
