body {
  margin: 0;
}

main {
  background-image: url("./assets/hero_img-sm.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  height: 100vh;
}

.logo {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%, -50%);
}
